*
{
      font-family: 'Times New Roman', Times, serif;
}

body
{
    background:lightblue;
    display:flex;
    justify-content: center;
   
    
    
}
.container
{
   
    max-width:1000px;
    max-height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}

.left-side
{
   text-align: center;
    background:lightpink;
    text-align: center;

}

.imgBx
{
    position:relative;
    width: 250px;
    height:250px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
   
}
 .imgBx img
{
position:relative;
top:0;
left:0;
width:100%;
height:100%;
object-fit: cover;

}
.contactInfo .title
{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    color: red;
    text-shadow: 2px 2px whitesmoke;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:black;

}
.contactInfo ul li{
    list-style: none;
   text-align: left;
   color: red;
}
.contactInfo  ul li span
{
    position: relative;
    width: 250px;
    height:250px;
    text-align: center;
   font-style: italic;
   cursor:pointer;
   font-size: larger;
   color: black;
   padding-left:20px;


}
.EducationInfo .title
{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    color: red;
    text-shadow: 2px 2px whitesmoke;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:black;

}
.EducationInfo  p
{
    border-bottom: 2px solid white;
    text-align: left;
    padding-left: 2px;
    text-align: left;
    padding-right:50px;
}

.EducationInfo ul
{
list-style:none;
text-align: left;
padding-right:50px;


}
.EducationInfo ul li h3{
    color: blue;
   
}
.languageInfo .title
{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    color: red;
    text-shadow: 2px 2px whitesmoke;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:black;
}
.languageInfo li
{


list-style:none;
text-align: left;
padding-right:50px;

}


.languageInfo  li .per
{

width:100%;
height:30px;
padding-right: 50px;

}





.right-side
{
    background:white;
}
.completed h4{
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    color: red;
    text-shadow: 2px 2px whitesmoke;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:black; 
}

.completed table
{
    width:100%;
    text-align: center;
   
  
    
}
table tr td
{
    border: 1pt solid black;
    border-collapse: collapse;
    border-radius: 5px;
  
    
}
table thead
{
background-color:lightgreen;
font-size: medium;
font-weight: bolder;
}
tr:nth-child(even)
{
    background-color:gainsboro;
}
table tr td ul
{
    list-style-type:circle;
    text-align:left;
    padding-left: 100px;

    
}
table li
{
 padding-top: 1pt;
line-height: 1.7;
color:red;
list-style-position: inside;

}

table tr span 
{
 padding-top: 1pt;
line-height: 1.7;

color:black;


}
table .nostyle li
{
    list-style: none;
    color:black;
   
}
 .professional h4{
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    color: red;
    text-shadow: 2px 2px whitesmoke;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:black;  
}
.professional ul
{
    
    text-align: justify;
    padding-right:20px;
   

}
.final h4{
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    color: red;
    text-shadow: 2px 2px whitesmoke;
  text-decoration-line:underline;
  text-decoration-style:double;
  text-decoration-color:black;  
}
.final p{
    text-indent: 50px;
    padding-right:50px;
}

